<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Node Practise Project |
        <%= title %>
    </title>
    <style>
        *,
         ::after,
         ::before {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        
        body {
            margin: 0rem 4rem;
        }
        
        a {
            text-decoration: none;
        }
        
        li {
            list-style-type: none;
        }
        
        .nav {
            background: crimson;
            border-bottom: 3px solid grey;
            height: 8rem;
        }
        
        nav {
            display: flex;
            justify-content: space-between;
            padding: 1rem;
            /* margin: 1.2rem; */
        }
        
        nav li {
            display: inline-block;
            margin: 1.2rem;
            font-size: 1.3rem;
            font-weight: bold;
            padding: 1rem;
        }
        
        nav a {
            color: white;
        }
        
        .nav-div a {
            font-size: 1.8rem;
        }
        
        .nav-div p {
            font-size: 1.5rem;
            margin: 0rem 0rem 0rem 1.5rem;
        }
        
        .project-intro {
            font-family: "Courier New", Courier, monospace;
            padding: 0.5rem;
        }
        
        .project-intro h1 {
            margin: 1.2rem;
            text-align: center;
            font-style: italic;
            font-family: "Courier New", Courier, monospace;
            padding: 0.5rem;
        }
        
        .project-intro ul {
            margin-left: 1.1rem;
            font-family: "Courier New", Courier, monospace;
            padding: 0.5rem;
        }
        
        .project-intro li {
            padding: 0.3rem;
            list-style-type: circle;
        }
        
        .project-info p {
            font-family: sans-serif;
            text-transform: capitalize;
            /* letter-spacing: 0.1rem; */
            line-height: 1.2rem;
            height: 50%;
            width: 40%;
            /* background: red; */
            margin: 2rem auto;
        }
        
        .content {
            margin-left: 20px;
        }
        
        .contact-us form {
            max-width: 400px;
            margin: 0 auto;
        }
        
        .contact-us input,
        .contact-us textarea {
            display: block;
            width: 100%;
            margin: 10px 0;
            padding: 8px;
        }
        
        .contact-us label {
            display: block;
            margin-top: 24px;
        }
        
        textarea {
            height: 120px;
        }
        
        .contact-us button {
            /* display: block; */
            margin-top: 20px;
            margin-left: 20rem;
            background: crimson;
            color: white;
            padding: 6px;
            border: 0;
            font-size: 1.2em;
            cursor: pointer;
            border-radius: 10px;
        }
        
        footer {
            font-family: "Courier New", Courier, monospace;
            margin-top: 10rem;
            text-align: center;
        }
    </style>
</head>