<nav class="nav">
    <div class="nav-div">
        <a href="/">
            <h1>Node Practise Project</h1>
        </a>
        <p>A Hacker in the making</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/users/contact-us">Write to us</a></li>
        <li><a href="/users/myusers">User Concerns</a></li>
    </ul>
</nav>