<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs')%>

    <body>
        <%- include('./partials/nav.ejs') %>
            <div class="error-page">
                <p>Status 404</p>
                <p>OOOPS! Page not found</p>
            </div>

            <%- include('./partials/footer.ejs') %>
    </body>

</html>