<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs')%>

    <body>
        <%- include('./partials/nav.ejs') %>
            <div class="project-intro">
                <h1>Dan~Hacker More Information</h1>
                <p>
                    This is a junior boy from a village in Kakamega County who is a tech enthusiast, and passionate about cyber security, who also has a dream of travelling abroad, apart from seeking employment, it is also for adventuring. This is a dream this boy has had
                    for more than 10 years since he started watching American Movies thenm days when he was still in primary school. Since then, then boy developed interests in knowing what happens behind the tends for the tech gurus and hackers. It has
                    always his life time dream to become one for the job is just fascinating, as you're always behind your machine carryng out some magic, buy only pressing your keyboard. The boy is envisioned, and willing to do anything to make this
                    dream realized, even there is a price to pay. If can support the boy, a website to open the donation platform will be out soon. Worry no more, it is under making.
                </p>
            </div>
            <div class="project-info">
                <p>
                    Some of the most known social media handles that the boy is most active are twitter, github, for if you want to be a tech guru, following the right social media platforms should also be a considerate idea. Always be updated, and following the news to
                    know the most treding news about technology.
                </p>
            </div>
            <%- include('./partials/footer.ejs') %>
    </body>

</html>