<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs')%>

    <body>
        <%- include('./partials/nav.ejs') %>
            <div class="project-intro">
                <h1>The First Project to be developed in Node</h1>
                <h3>Some of the project milestones in the development of this project</h3>
                <ul>
                    <li>Brainstorming on the idea</li>
                    <li>Coming up with a blueprint of the website</li>
                    <li>
                        Collecting all the vital information required for the development of the website
                    </li>
                    <li>Development of a prototype of the whole project</li>
                </ul>
            </div>
            <div class="prject-info">
                <p>
                    Sometimes from the first reasoning or from the frist point of view, it might sound like a dream at first, but a dream well worked on and well formulated canmake it happen. It just takes consistency and hardwork to make it happen, for a dream without a
                    goal is just but a dream. It involves surrounding yourself with people of like minds, and formulating a plan, and it should be workable. Always make sure that it is well adhered to make it achieveable. And above al, have God first
                    and everything will work out
                </p>
            </div>
            <%- include('./partials/footer.ejs') %>
    </body>

</html>